* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* LEFT SECTION */
.left-section {
  position: relative;
  width: 65%;
  background: url("../frontend/pup-bg.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 0, 0.85);
  z-index: 0;
}

/* CONTENT ON LEFT SIDE */
.text-content {
  position: relative;
  z-index: 2;
  padding: 80px;
}

.text-content h3 {
  font-weight: 600;
  font-size: 18px;
}

.text-content p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 25px;
}

/* CENTERED HELLO WELCOME */
.welcome-text {
  margin-top: 250px;
}

.welcome-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

/* DEVELOPERS SECTION */
.developers {
  position: relative;
  z-index: 2;
  padding: 0 80px 50px 80px;
  font-size: 13px;
}

.developers p {
  margin-bottom: 8px;
}

.roles {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.roles div p:first-child {
  font-weight: 600;
}

/* RIGHT SECTION */
.right-section {
  width: 35%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 75%;
  max-width: 350px;
}

.login-box h2 {
  color: #800000;
  font-weight: 700;
}

.login-box .desc {
  font-size: 13px;
  color: #555;
  margin-bottom: 20px;
}

label {
  font-size: 13px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  background-color: #800000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #660000;
}


.keep-logged {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

 .keep-logged input {
  margin-right: 5px; 
}

.keep-logged label {
  font-size: 12px;
  color: #555; 
}

.message_error{
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  margin-bottom: 15px;
}
